.ctn {
    position: fixed;
    top: 160px;
    left: 255px;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    z-index: 10;
}
.hide {
    display: none;
}
.container__confirm {
    padding: 9px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    right: 50%;
    top: 40px;
    transform: translateX(52%);
    animation: show 0.7s linear;
    z-index: 2;
    &-header {
        h3 {
            font-size: 22px;
            text-align: center;
            margin-top: 12px;
            margin-bottom: 28px;
            font-weight: 600;
            color: #fa6840;
        }
    }
    &-body {
        margin-bottom: 28px;
        .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            label {
                font-size: 18px;
                margin-right: 60px;
            }
            input {
                outline: none;
                padding: 7px 12px;
                border-radius: 12px;
                border: 1px solid #ccc;
            }
        }
        .tel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            label {
                font-size: 18px;
                margin-right: 24px;
            }
            input {
                outline: none;
                padding: 7px 12px;
                border-radius: 12px;
                border: 1px solid #ccc;
            }
        }
    }

    &-message {
        display: flex;
        justify-content: center;
        color: red;
        margin-bottom: 20px;
        font-size: 14px;
        .icon-err {
            font-size: 20px;
            margin-right: 4px;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;
        button {
            padding: 4px 24px;
            font-size: 17px;
            border-radius: 14px;
            background-color: #fe7f5b;
            border: none;
            color: #fff;
            &:hover {
                opacity: 0.8;
                box-shadow: 0 1px 4px #f0e7e7;
            }
        }
    }
}

@keyframes show {
    from {
        top: -100%;
    }
    to {
        top: 15%;
    }
}
