.container__page {
    display: flex;
    .container__manage {
        width: calc(100% - 255px);
        .header__admin {
            padding: 20px 24px;
            display: flex;
            align-items: center;
            padding-bottom: 24px;
            border-bottom: 1px solid #ccc;
            justify-content: space-between;
            &-statistic {
                &-item {
                    a {
                        text-decoration: none;
                        color: #000;
                        &:hover {
                            color: #c31d2a;
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                    position: relative;
                    padding: 20px 18px;
                    font-size: 18px;
                    margin-right: 32px;
                    i {
                        margin-right: 8px;
                        font-size: 20px;
                    }
                    .icon-header {
                        font-size: 28px;
                        margin-right: 8px;
                        margin-bottom: 8px;
                    }
                    .interact-click {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: rgb(244, 89, 89);
                        left: 0;
                        bottom: -3px;
                    }
                }
            }
            &-interact {
                &-item {
                    padding: 16px 20px;
                    font-size: 18px;
                    margin-left: 32px;
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        opacity: 0.8;
                    }
                    i {
                        font-size: 20px;
                    }
                    span {
                        top: 8px;
                        right: 16px;
                        font-size: 14px;
                        text-align: center;
                        line-height: 18px;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        border-radius: 50%;
                        background-color: rgb(244, 89, 89);
                    }
                    .icon-admin {
                        margin-right: 8px;
                        font-size: 20px;
                        margin-bottom: 8px;
                    }
                }
            }
            .border-bottom-red {
                border-bottom: 1px solid #f2125e;
            }
        }
        &-header {
            display: flex;
            align-items: center;
            padding: 32px 28px;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            &-title {
                font-size: 22px;
                font-weight: 700;
            }
            &-search {
                padding: 6px 12px;
                width: 280px;
                border: 1px solid #ccc;
                border-radius: 20px;
                input {
                    width: 225px;
                    border: none;
                    outline: none;
                    margin-right: 5px;
                }
                .icon-search {
                    font-size: 20px;
                    cursor: pointer;
                }
                &:hover {
                    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
                }
            }
            &-filter {
                select {
                    padding: 6px 12px;
                    border-radius: 20px;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
                    }
                }
            }
        }
        .container__manage-main {
            min-height: 992px;
            .header-title-index {
                text-align: center;
                padding-left: 22px;
            }
            .header-title-option {
                text-align: center;
                padding-right: 22px;
            }
            .header-title {
                text-align: center;
            }
            .manage__book-item {
                &:hover {
                    cursor: pointer;
                    background-color: #f2f2f2;
                }
                .title-index {
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    padding-left: 22px;
                }
                .title-author,
                .title-price,
                .title-quantity,
                .title-type {
                    line-height: 48px;
                    height: 48px;
                    text-align: center;
                }
                .title-book {
                    width: 340px;
                    height: 48px;
                    line-height: 48px;
                }
                .details_book {
                    text-align: center;
                    font-size: 20px;
                    padding: 8px 22px 8px 12px;
                    cursor: pointer;
                    color: #2b80ff;
                    line-height: 47px;
                }
            }
        }
        .divide-page {
            padding: 40px 100px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-pre {
                font-size: 38px;
                padding: 0 4px;
                margin-right: 24px;
                cursor: pointer;
            }
            .index {
                cursor: pointer;
                margin: 0 24px;
                padding: 0 12px;
            }
            .index-curr {
                cursor: pointer;
                color: #fff;
                margin: 0 24px;
                padding: 0 12px;
                border-radius: 4px;
                background-color: #c31d2a;
            }
            .icon-next {
                cursor: pointer;
                font-size: 38px;
                padding: 0 4px;
                margin-left: 24px;
            }
        }
    }
}
