.header {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #000;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 24px;
}

.container__content {
    display: flex;
    margin-left: 16px;
}

.container__content a {
    color: #ffffff;
    text-decoration: none;
}

.container__content-book,
.container__content-author,
.container__content-blog {
    font-size: 22px;
    padding: 6px 12px;
    margin-right: 16px;
}
.container__content-book {
    margin-left: 24px;
}

.container__infor {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.introduction {
    font-size: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 140px;
    height: 62px;
    margin-top: 5px;
    background-repeat: no-repeat;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    vertical-align: middle;
    background-position: 50%;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22120%22%20height%3D%2253%22%20viewBox%3D%220%200%20120%2053%22%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M81.167%2011.151l1.293%202.909.645-3.07%203.071-.323-2.747-1.616.647-2.908-2.264%201.939-2.584-1.455%201.131%202.747-2.262%202.101zM98.456%2028.117l2.101-2.424%202.747%201.293-1.455-2.585%201.939-2.424-2.908.647-1.616-2.586-.324%203.07-3.069.646%202.908%201.293zM57.738%207.597l2.585-1.939%202.424%201.939-.97-3.07%202.585-1.777h-3.069l-.97-2.909-.969%202.909h-3.07l2.424%201.777zM37.379%2010.99l.646%203.07%201.293-2.909%203.07.324-2.424-2.101%201.293-2.747-2.586%201.455-2.423-1.939.646%202.908-2.585%201.616zM17.182%2026.986l2.746-1.293%202.101%202.424-.323-3.07%202.747-1.293-2.909-.646-.323-3.07-1.616%202.586-3.07-.647%202.101%202.424zM119.784%2049.931l-1.454-2.424H62.585c0-1.939%202.101-1.939%203.232-1.939h51.543l-1.454-2.424H67.109c-1.292%200-3.555.162-4.201.323.646-2.262%204.362-2.424%209.533-2.424h42.173l-1.455-2.423H73.411c-4.04%200-8.079.161-10.18%201.615%201.938-2.746%205.333-3.555%2013.572-3.555h35.225l-1.454-2.424H76.966C64.848%2034.257%2060%2037.328%2060%2047.022c0-9.694-4.847-12.766-16.966-12.766H9.426L7.972%2036.68h35.062c8.24%200%2011.634.809%2013.573%203.555-2.101-1.454-5.979-1.615-10.18-1.615H6.841l-1.454%202.423h42.171c5.333%200%208.887.162%209.533%202.424-.646-.161-2.908-.323-4.201-.323H4.094L2.64%2045.567h51.543c1.131%200%203.232%200%203.232%201.939H1.67L.216%2049.93h57.36v1.454h5.009V49.93h57.199z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.container__account {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.container__account a {
    color: #ffffff;
    text-decoration: none;
}

.container__account-admin,
.container__account-sign,
.container__account-support,
.container__account-cash,
.container__account-user {
    font-size: 22px;
    padding: 6px 12px;
    margin-left: 16px;
}
.iconUser {
    font-size: 36px;
}

.container__account-cash {
    margin-right: 24px;
}
