.container {
    padding: 40px 40px 100px 40px;
    color: #ffffff;
    background-color: #181b23;
}
// #252730
.header {
    font-size: 3.5rem;
    margin-bottom: 40px;
}
.show {
    display: block;
}
.hide-content {
    display: none;
}
.container__content {
    display: flex;
    &-field {
        width: 62%;
        &-name,
        &-author {
            display: flex;
            padding: 12px;
            border-radius: 6px;
            flex-direction: column;
            background-color: #252730;
            label {
                font-size: 18px;
            }
        }
        .input-title {
            width: 320px;
            padding: 8px 8px;
            border-radius: 8px;
            color: #000;
            margin-top: 4px;
            outline: none;
            border: 1px solid;
            background-color: #fff;
        }
        .input-author {
            width: 280px;
            padding: 8px 8px;
            border-radius: 8px;
            color: #000;
            outline: none;
            margin-top: 4px;
            border: 1px solid;
            background-color: #fff;
        }
        &-des {
            display: flex;
            background-color: #252730;
            padding: 16px;
            margin: 24px 0;
            border-radius: 8px;
            flex-direction: column;
            label {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .editor {
                height: 356px;
                outline: none;
                border-radius: 10px;
                font-size: 18px;
                resize: none;
                padding: 10px;
                background-color: #fff;
            }
        }
        &-publish,
        &-publisher,
        &-price,
        &-numberPage {
            display: flex;
            padding: 12px;
            border-radius: 6px;
            flex-direction: column;
            margin-bottom: 24px;
            background-color: #252730;
            label {
                font-size: 18px;
            }
            input {
                width: 280px;
                padding: 8px 8px;
                border-radius: 8px;
                color: #000;
                outline: none;
                margin-top: 4px;
                border: 1px solid;
                background-color: #fff;
            }
            .input-date,
            .input-price {
                width: 320px;
            }
        }
        &-type,
        &-lang,
        &-region {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            padding: 12px;
            background-color: #252730;
            label {
                font-size: 18px;
                margin-bottom: 4px;
            }
            select {
                width: 204px;
                padding: 8px;
                border-radius: 8px;
                border: 1px solid;
                outline: none;
            }
            .select-lang {
                width: 188px;
            }
        }
    }
    .item-1,
    .item-3,
    .item-4,
    .item-5 {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    .item-5s {
        justify-content: space-between;
        display: flex;
        width: 100%;
        .container__content-field {
            &-type,
            &-lang,
            &-region {
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                padding: 12px;
                background-color: #252730;
                label {
                    font-size: 18px;
                    margin-bottom: 4px;
                }
                input {
                    width: 190px;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid;
                    outline: none;
                    background-color: #fff;
                }
                .select-lang {
                    width: 188px;
                }
            }
        }
    }
    &-upload {
        width: 38%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .hide {
            display: none;
        }
        .container__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 24px;
            border: 2px dashed rgba(209, 214, 255, 0.2);
            img {
                width: 260px;
                height: 310px;
                object-fit: cover;
            }
            .btn-change {
                margin-top: 24px;
                padding: 8px 20px;
                background-color: #252730;
                border-radius: 10px;
                border: 1px solid;
                font-size: 18px;
                transition: 0.4s ease-in-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    border: 1px solid black;
                }
            }
        }
        &-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 24px;
            width: 320px;
            height: 430px;
            border: 2px dashed rgba(209, 214, 255, 0.2);
            .btn-upload {
                .button {
                    padding: 0;
                    outline: 0;
                    border: 1px solid #ccc;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 140px;
                    height: 50px;
                    border-radius: 0.8em;
                    box-shadow: 0 0.625em 1em 0 #252730;
                    overflow: hidden;
                    div {
                        transform: translateY(0px);
                        width: 100%;
                    }
                    div span {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 50px;
                        padding: 8px 24px;
                    }
                    div:nth-child(1) {
                        background-color: #252730;
                    }

                    div:nth-child(2) {
                        background-color: #1f2127;
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0.2em 0.15em 0 rgb(255, 255, 245);
                    }

                    &:hover div {
                        transform: translateY(-50px);
                    }

                    p {
                        text-align: center;
                        width: 100%;
                        margin-bottom: 4px;
                        font-size: 20px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                    &:active {
                        transform: scale(0.95);
                    }
                    .icon-upload {
                        font-size: 24px;
                    }
                }

                .button,
                .button div {
                    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
            .icon-cloud {
                color: #aeabab;
                font-size: 68px;
            }
            .select-title {
                font-size: 20px;
            }
            .type-img {
                margin-bottom: -40px;
            }
            .type-img,
            .size-img {
                color: #aeabab;
            }
        }
        .chose-file {
            display: none;
        }
        &-submit {
            display: flex;
            width: 72%;
            justify-content: space-between;
            margin-top: 75px;
            .btn-edit,
            .btn-delete {
                display: flex;
                align-items: center;
                padding: 8px 24px;
                background-color: #252730;
                color: #ffffff;
                border: 1px solid;
                font-size: 22px;
                border-radius: 12px;
                transition: 0.6s ease-in-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    border: 1px solid black;
                }
            }
            .btn-delete {
                background-color: #cc3300;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    border: 1px solid black;
                }
                .icon-delete {
                    margin-left: 8px;
                }
            }
            .icon-send,
            .icon-edit {
                margin-left: 12px;
            }
        }
    }
}
