.header__admin {
    padding: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    &-statistic {
        &-item {
            a {
                text-decoration: none;
                color: #000;
            }
            position: relative;
            padding: 28px 18px;
            font-size: 18px;
            margin-right: 32px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            i {
                margin-right: 8px;
                font-size: 20px;
            }
            .icon-header {
                font-size: 28px;
                margin-right: 8px;
            }
            .interact-click {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: rgb(244, 89, 89);
                left: 0;
                bottom: -3px;
            }
        }
    }
    &-interact {
        &-item {
            padding: 16px 20px;
            font-size: 18px;
            margin-left: 32px;
            cursor: pointer;
            position: relative;
            &:hover {
                opacity: 0.8;
            }
            i {
                font-size: 20px;
            }
            span {
                top: 8px;
                right: 16px;
                font-size: 14px;
                text-align: center;
                line-height: 18px;
                width: 18px;
                height: 18px;
                position: absolute;
                border-radius: 50%;
                background-color: rgb(244, 89, 89);
            }
            .icon-admin {
                margin-right: 8px;
                font-size: 20px;
                margin-bottom: 8px;
            }
        }
    }
    .border-bottom-red {
        border-bottom: 1px solid #f2125e;
    }
}
