.ctn {
    padding: 124px 200px 100px 200px;
    background-color: #efefef;
    h3 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .container {
        &__profile {
            padding: 16px 20px 40px 20px;
            border-radius: 4px;
            background-color: #fff;
            &-infor {
                margin-right: -20px;
                border-right: 1px solid rgb(235, 235, 240);
                &-item {
                    display: flex;
                    align-items: center;
                    margin-top: 32px;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 4px solid #ec979d;
                    }
                    .title {
                        margin: 0 60px 0 24px;
                        p {
                            margin: 0 0 36px 0;
                        }
                        .title-2 {
                            margin-bottom: 6px;
                        }
                    }
                    .values {
                        input {
                            width: 280px;
                            padding: 6px 8px;
                            margin-top: -16px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                        }
                        .value-1 {
                            margin-bottom: 28px;
                        }
                    }

                    .birthday {
                        margin-right: 48px;
                    }
                    select {
                        width: 98px;
                        outline: none;
                        margin: 0 12px;
                        padding: 6px 12px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                    }

                    .address {
                        margin: 12px 0 24px 0;
                        span {
                            margin-right: 80px;
                        }
                        &-value {
                            margin-right: 0;
                        }
                    }
                }
                .btn-save {
                    display: flex;
                    justify-content: center;
                    button {
                        margin-top: 24px;
                        width: 160px;
                        border: none;
                        color: #fff;
                        font-size: 18px;
                        padding: 8px 16px;
                        border-radius: 6px;
                        background-color: #ec535d;
                    }
                }
            }
            &-nav {
                padding: 0 0 0 24px;
                &-tel {
                    display: flex;
                    padding: 20px 0;
                    .icon-phone {
                        margin-right: 12px;
                        font-size: 18px;
                        color: #757575;
                    }
                    .phone {
                        margin-right: 163px;
                        p {
                            margin-bottom: 0;
                        }
                    }
                    .btn-update {
                        button {
                            color: #ec535d;
                            border: 1px solid #ec535d;
                            background-color: #fff;
                            border-radius: 4px;
                            padding: 2px 8px;
                        }
                    }
                }
                &-mail {
                    display: flex;
                    padding-bottom: 20px;
                    .icon-mail {
                        margin-right: 12px;
                        font-size: 18px;
                        color: #757575;
                    }
                    .mail {
                        margin-right: 45px;
                        p {
                            margin-bottom: 0;
                        }
                    }
                    .btn-update {
                        button {
                            color: #ec535d;
                            border: 1px solid #ec535d;
                            background-color: #fff;
                            border-radius: 4px;
                            padding: 2px 8px;
                        }
                    }
                }
            }
            &-security {
                padding: 0 0 0 24px;
                &-pw {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 20px;
                    .icon-pw {
                        .icon {
                            margin-right: 12px;
                            font-size: 18px;
                            color: #757575;
                            opacity: 0.7;
                        }
                    }
                    .btn-update {
                        button {
                            color: #ec535d;
                            border: 1px solid #ec535d;
                            background-color: #fff;
                            border-radius: 4px;
                            padding: 2px 8px;
                        }
                    }
                }
            }
        }
    }
}
