.body__admin {
    margin-top: 0;
    padding: 40px;
    background-color: #e8eff9;
    .pie-chart {
        position: relative;
        border-radius: 4px;
        span {
            top: 20px;
            left: 32px;
            font-size: 24px;
            font-weight: 600;
            position: absolute;
        }
    }
    .container__statistic {
        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        .statistic__sales {
            display: flex;
            justify-content: space-between;
            .statistical__sales {
                height: 400px;
                width: calc(100% - 820px);
                background-color: #fff;
                padding: 16px 24px;
                .total__money {
                    font-size: 18px;
                    font-weight: 600;
                    color: #2b80ff;
                    p {
                        color: #000;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
