.separate {
    margin-top: 120px;
}
.btn-back {
    width: 120px;
    padding: 18px 0;
    margin-bottom: 12px;
    font-size: 22px;
    cursor: pointer;
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: #c31d2a;
            font-size: 21px;
        }
    }
    span {
        margin-right: 8px;
    }
}
.form-serach {
    display: flex;
    align-items: center;
}
.btn-search {
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    background-color: rgb(13, 110, 253);
    &:hover {
        background-color: #0b5ed7;
    }
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    padding: 0 28px;
}
.container__book {
    margin-bottom: 88px;
    &-heading {
        font-size: 36px;
        font-weight: 600;
        .book-author {
            font-size: 18px;
            padding: 12px 0 12px 0;
            .sold {
                color: #636262;
                font-weight: 500;
            }
        }
    }
    &-content {
        h3 {
            font-size: 32px;
            color: #f42535;
            margin-bottom: 24px;
            padding-bottom: 16px;
            border-bottom: 1px solid #000;
        }
        &-des {
            font-size: 20px;
            font-weight: 600;
            p {
                font-weight: 400;
                font-size: 18px;
                margin-top: 12px;
                line-height: 4.2rem;
                text-align: justify;
            }
        }
        &-page,
        &-company,
        &-type,
        &-date,
        &-language {
            display: flex;
            padding: 8px 0;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            p {
                font-weight: 500;
                color: #000;
                font-size: 16px;
                margin-left: 12px;
                margin-bottom: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-cart {
        display: flex;
        flex-direction: column;
        &-img {
            margin-bottom: 16px;
            img {
                width: 100%;
            }
        }
        &-price {
            margin-left: 64px;
            .value {
                font-size: 32px;
            }
        }
        &-save {
            margin-left: 64px;
            padding: 12px 0;
        }
        &-btn {
            margin-left: 64px;
            button {
                width: 218px;
                padding: 12px;
                background-color: #f42535;
                color: #fff;
                border: none;
                &:hover {
                    background-color: #c31d2a;
                }
            }
        }
    }
}

.container__book-feedback {
    margin: 60px 0 100px 0;
    h3 {
        font-size: 32px;
        margin-bottom: 52px;
        padding-bottom: 16px;
        border-bottom: 1px solid #000;
    }
    .not-cmt {
        color: #050505;
        font-size: 28px;
    }
    .comment__user {
        display: flex;
        padding-top: 8px;
        margin-top: 20px;
        .imgDes-user img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        &-text {
            margin-left: 16px;
            width: 100%;
            form {
                display: flex;
                position: relative;
                align-items: center;
                width: 100%;
                border-radius: 24px;
                border: 1px solid #ccc;
                .input-cmt {
                    width: 612px;
                    outline: none;
                    padding: 0 12px;
                    white-space: pre-wrap;
                    word-break: break-word;
                    margin: 8px;
                    border: none;
                    resize: none;
                    min-height: 48px;
                }
                .icon-send {
                    right: 12px;
                    font-size: 20px;
                    color: #65676b;
                    position: absolute;
                    transition: 0.4s ease-in-out;
                    &:hover {
                        cursor: pointer;
                        color: #252730;
                        transform: scale(1.05);
                    }
                }
            }
            span {
                color: #050505;
                font-size: 14px;
                margin-left: 12px;
                font-weight: 500;
            }
        }
    }
}
.hide {
    display: none;
}
