.container__catergory ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 8px;
}

.container__catergory h2 {
    text-align: left;
    margin-bottom: 28px;
}

.catergory__search {
    margin-right: 28px;
    padding-top: 28px;
    border-top: 1px solid #ccc;
}

.item-catergory {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    .item {
        padding-left: 20px;
        margin: 20px 0;
        font-size: 16px;
    }
}
.item-area {
    padding-left: 20px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    a {
        text-decoration: none;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.link-author {
    text-decoration: none;
    .getAuthor {
        margin: 16px 0;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        padding: 4px 0 4px 20px;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
