.ctn {
    position: fixed;
    top: 160px;
    left: 255px;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    z-index: 10;
}
.hide {
    display: none;
}
.container__bill {
    z-index: 3;
    padding: 10px 28px;
    position: absolute;
    top: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    &-header {
        h3 {
            font-size: 22px;
            text-align: center;
            padding: 12px 0;
            color: #fa6840;
            font-weight: 500;
            border-bottom: 1px solid #fa6840;
        }
    }
    &-body {
        .customer {
            margin: 12px 0;
            &-name {
                font-size: 18px;
                margin-left: 12px;
            }
        }
        .book {
            border-bottom: 1px solid #fa6840;
            padding-bottom: 20px;
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .icon-add {
                    font-size: 20px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
            .ctn-list {
                height: 160px;
                overflow-y: scroll;
                padding-bottom: 28px;

                .list-book {
                    padding-left: 40px;
                    margin-top: 24px;
                    label {
                        margin-right: 8px;
                    }
                    input {
                        width: 60px;
                        padding: 4px 8px;
                        border-radius: 12px;
                        border: 1px solid #ccc;
                        outline: none;
                        &:hover {
                            opacity: 0.8;
                            box-shadow: 0 1px 4px #f0e7e7;
                        }
                    }
                    .input-code {
                        width: 140px;
                        margin-right: 40px;
                    }
                    span {
                        color: #fa6840;
                        font-size: 20px;
                        margin: 0 24px;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
            }
            .total-bill {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 24px;
                span {
                    font-size: 20px;
                }
                .total {
                    font-size: 22px;
                }
                del {
                    margin-left: 4px;
                    font-size: 16px;
                }
            }
        }
    }
    &-footer {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
        button {
            border-radius: 16px;
            border: none;
            background-color: #fe7f5b;
            color: #fff;
            font-size: 18px;
            padding: 4px 20px;
            &:hover {
                opacity: 0.8;
                box-shadow: 0 1px 4px #f0e7e7;
            }
        }
    }
}
