.container__confirm {
    padding: 16px 16px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 320px;
    box-shadow: rgb(179, 179, 179) 1px 1px 15px;
    .icon-success {
        font-size: 36px;
        color: #4caf50;
        border-radius: 50%;
    }
    .text {
        margin-top: 12px;
        font-size: 16px;
    }
    .button {
        margin-top: 24px;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        background-color: #4caf50;
        font-size: 16px;
        cursor: pointer;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
