.ctn {
    position: fixed;
    top: 160px;
    left: 255px;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.container__confirm {
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 12px;
    min-height: 400px;
    width: 720px;
    position: absolute;
    z-index: 3;
    top: 40px;
    background-color: #fff;
    &-header {
        font-size: 22px;
        text-align: center;
    }
    &-body {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        ul {
            padding: 0;
            width: 320px;
            font-size: 18px;
            list-style-type: none;
        }
        h3 {
            text-align: center;
            background-color: #f58363;
            color: #fff;
            margin-bottom: 12px;
            padding: 12px;
            border-radius: 8px;
        }
        li {
            font-size: 16px;
            padding: 4px 16px;
        }
        .item-book {
            max-width: 320px;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .title-item {
            opacity: 0.8;
        }
        span {
            margin: 0 8px 0 0;
            del {
                margin-left: 4px;
            }
        }
    }
    &-footer {
        display: flex;
        justify-content: space-around;
        button {
            margin: 0 24px;
            width: 120px;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-radius: 16px;
            background-color: #fe7f5b;
            color: #fff;
            font-size: 16px;
            &:hover {
                box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
            }
            .icon-add {
                font-size: 20px;
                margin-right: 6px;
            }
        }
    }
}
