.container__comment {
    margin-bottom: 20px;
    margin-left: 52px;
    display: flex;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 40px 0 32px 0;
    border-bottom: 1px solid rgb(226, 226, 226);
    &-user {
        display: flex;
        margin-right: 48px;
        &-img {
            margin-right: 16px;
            display: flex;
            img {
                width: 38px;
                height: 38px;
                border-radius: 50%;
            }
            .text {
                margin-left: 12px;
                .name {
                    margin: 0;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .time {
                    margin: 0;
                    font-size: 13px;
                    line-height: 20px;
                    color: rgb(128, 128, 137);
                }
            }
        }
    }
    &-content {
        .rating {
            span {
                margin-right: 2px;
            }
            &-text {
                margin-left: 12px;
                font-weight: 500;
            }
            margin-bottom: 12px;
        }
        .comment__content {
            font-size: 14px;
            font-weight: 400;
            color: #050505;
            margin-bottom: 16px;
        }
        .interact {
            display: flex;
            color: #65676b;
            font-size: 13px;
            font-weight: bold;
            align-items: center;
            .interact__like {
                margin-right: 40px;
                text-align: center;
                button {
                    font-size: 18px;
                    padding: 4px 12px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    span {
                        font-size: 14px;
                        margin-left: 4px;
                    }
                    &:hover {
                        background-color: #c22734;
                        color: #fff;
                    }
                }
            }
            .interact__liked {
                margin-right: 40px;
                text-align: center;
                button {
                    color: rgb(11, 116, 229);
                    background-color: rgb(219, 238, 255);
                    font-size: 18px;
                    padding: 4px 12px;
                    border-radius: 4px;
                    border: none;
                    border: 1px solid rgb(11, 116, 229);
                    span {
                        font-size: 14px;
                        margin-left: 4px;
                    }
                }
            }
            .interact__reply {
                margin-right: 40px;
                &:hover {
                    cursor: pointer;
                    color: #000;
                }
            }
            .time {
                font-size: 13px;
                line-height: 20px;
                color: rgb(128, 128, 137);
            }
        }
    }
}

// #f0f2f5
