.hide {
    display: none;
}
.btn-back {
    position: absolute;
    top: 12px;
    right: 100px;
    font-size: 28px;
    padding: 10px 12px;
    color: #0000008a;
    z-index: 10;
    &:hover {
        cursor: pointer;
    }
}

.header {
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    .logo {
        cursor: pointer;
        color: #808990;
        font-weight: 600;
        margin-left: 4px;
        transition: 0.4s ease-in-out;
        &:hover {
            transform: scale(1.05);
            margin-left: 0px;
        }
        .icon-back {
            font-size: 22px;
        }
        .back {
            margin-left: 4px;
            font-size: 20px;
            a {
                text-decoration: none;
                color: #808990;
            }
        }
    }
    &-item {
        .btn-post {
            button {
                padding: 6px 16px;
                border: none;
                border-radius: 20px;
                background-color: #cc3000;
                opacity: 0.6;
                font-size: 18px;
                color: #fff;
            }
        }
        .btn-success-post {
            button {
                padding: 6px 16px;
                border: none;
                border-radius: 20px;
                background-color: #cc3000;
                font-size: 18px;
                color: #fff;
            }
        }
        .my-blog {
            color: #333;
            font-size: 20px;
            font-weight: 600;
            margin-left: 36px;
            padding: 8px;
        }
        .my-account {
            margin-left: 36px;
            padding: 8px;
            .icon-user {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.container__createBlog {
    padding: 40px;
    &-header {
        input {
            outline: none;
            border: none;
            font-size: 28px;
            padding: 16px 0;
            width: 100%;
            margin-bottom: 16px;
            font-weight: 500;
            text-decoration-line: none;
        }
    }
    &-content {
        .markdown-editor {
            .editor {
                min-height: 600px;
                font-size: 2rem !important;
                .editor-container {
                    font-size: 16px;
                }
            }
        }
    }
}
