.container__page {
    .confirm__form {
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-header {
        height: 96px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 0 124px;
        justify-content: space-between;
        .item-header1 {
            display: flex;
            justify-content: center;
            .text {
                font-size: 26px;
                color: #0a68ff;
                font-weight: 500;
            }
        }
        .home {
            color: #0a68ff;
            a {
                text-decoration: none;
            }
            .icon {
                font-size: 24px;
                margin-right: 8px;
            }
        }
        .item-header2 {
            padding: 4px 12px;
            display: flex;
            border-radius: 48px;
            align-items: center;
            background-color: #fff;
            border: 1.5px solid #0a68ff;
            color: #0a68ff;
            .icon-tel {
                font-size: 20px;
                padding: 4px 8px;
                border-radius: 50%;
                background-color: #0a68ff;
                color: #fff;
                margin-right: 12px;
            }
            .content {
                display: flex;
                flex-direction: column;
                span {
                    font-size: 14px;
                }
                .tel {
                    font-size: 18px;
                    font-weight: 550;
                }
            }
        }
    }
    &-body {
        padding: 40px 124px;
        background-color: #f5f5fa;
        position: relative;
        .container {
            &__left {
                .container__delevery {
                    background-color: #fff;
                    padding: 16px;
                    border-radius: 4px;
                    h2 {
                        margin-bottom: 18px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .content {
                        width: 50%;
                        background-color: #f5eeee;
                        padding: 16px;
                        border-radius: 16px;
                        border: 1px solid #0a68ff;
                        .item-1 {
                            padding: 6px;
                            font-size: 14px;
                            .now {
                                font-size: 14px;
                                font-weight: 600;
                                margin-right: 8px;
                                color: rgb(26, 167, 255);
                            }
                            .price-del {
                                color: rgb(0, 171, 86);
                                font-size: 14px;
                                margin-left: 12px;
                            }
                        }
                        .item-2 {
                            padding: 6px;
                            font-size: 14px;
                            .fast {
                                font-size: 14px;
                                font-weight: 600;
                                margin-right: 8px;
                                color: rgb(248, 184, 8);
                            }
                            .price-del {
                                color: rgb(0, 171, 86);
                                font-size: 14px;
                                margin-left: 12px;
                            }
                        }
                        .item-1,
                        .item-2 {
                            display: flex;
                            align-items: center;
                            .checked {
                                position: relative;
                                margin-right: 8px;
                                margin-top: 4px;
                                label {
                                    height: 18px;
                                    width: 18px;
                                    border-radius: 50%;
                                    padding: 4px;
                                    background-color: #fff;
                                    border: 1px solid #0a68ff;
                                }
                                input {
                                    display: none;
                                }
                                &::before {
                                    content: '';
                                    width: 8px;
                                    height: 8px;
                                    left: 5px;
                                    top: 5px;
                                    border-radius: 50%;
                                    background-color: #0a68ff;
                                    position: absolute;
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .check {
                                position: relative;
                                margin-right: 8px;
                                margin-top: 4px;
                                label {
                                    height: 18px;
                                    width: 18px;
                                    border-radius: 50%;
                                    padding: 4px;
                                    background-color: #fff;
                                    border: 1px solid #ccc;
                                    &:hover {
                                        cursor: pointer;
                                        border: 1px solid #0a68ff;
                                    }
                                }
                                input {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .container__card {
                    background-color: #fff;
                    padding: 16px;
                    border-radius: 4px;
                    margin-top: 24px;
                    position: relative;
                    padding-bottom: 24px;
                    h2 {
                        margin-bottom: 18px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .container__item {
                        border: 1px solid rgb(221, 221, 227);
                        padding: 20px 16px 16px 16px;
                        border-radius: 12px;
                        .item-card {
                            width: 60%;
                            padding: 12px 0;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            .img img {
                                height: 60px;
                                width: 60px;
                            }
                            .name {
                                min-width: 360px;
                                margin: 0 12px;
                                color: #808089;
                            }
                            .price {
                                color: rgb(56, 56, 61);
                                font-size: 15px;
                                font-weight: 600;
                                .unit {
                                    font-size: 14px;
                                    margin-left: 4px;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .time-delivery {
                        position: absolute;
                        top: 80px;
                        right: 40px;
                        background-color: rgb(245, 245, 250);
                        padding: 8px 16px;
                        border-radius: 8px;
                        color: #808089;
                        .icon-truck {
                            font-size: 20px;
                            color: #000;
                            margin-right: 8px;
                        }
                    }
                }
                .container__payType {
                    background-color: #fff;
                    padding: 16px;
                    border-radius: 4px;
                    margin-top: 24px;
                    h2 {
                        margin-bottom: 18px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .item-type {
                        display: flex;
                        align-items: center;
                        padding: 12px 0;
                        .checked {
                            position: relative;
                            margin-right: 12px;
                            margin-top: 4px;
                            label {
                                height: 18px;
                                width: 18px;
                                border-radius: 50%;
                                padding: 4px;
                                background-color: #fff;
                                border: 1px solid #0a68ff;
                            }
                            input {
                                display: none;
                            }
                            &::before {
                                content: '';
                                width: 8px;
                                height: 8px;
                                left: 5px;
                                top: 5px;
                                border-radius: 50%;
                                background-color: #0a68ff;
                                position: absolute;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .check {
                            position: relative;
                            margin-right: 12px;
                            margin-top: 4px;
                            label {
                                height: 18px;
                                width: 18px;
                                border-radius: 50%;
                                padding: 4px;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                &:hover {
                                    cursor: pointer;
                                    border: 1px solid #0a68ff;
                                }
                            }
                            input {
                                display: none;
                            }
                        }
                        .img img {
                            width: 32px;
                            height: 32px;
                        }
                        .text {
                            margin-left: 16px;
                        }
                    }
                }
            }
            &__right {
                .container__infor {
                    padding: 16px;
                    background-color: #fff;
                    font-size: 17px;
                    &-header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 12px;
                        color: #808089;
                        .btn-change {
                            color: #0a68ff;
                        }
                    }
                    &-content {
                        .information-user {
                            font-size: 15px;
                            margin-bottom: 12px;
                            font-weight: 550;
                            .fullName {
                                padding-right: 12px;
                                margin-right: 12px;
                                border-right: 2px solid #ccc;
                            }
                        }
                        .address {
                            .icon-address {
                                margin-right: 12px;
                                margin-bottom: 4px;
                                color: rgb(0, 171, 86);
                            }
                            &-detail {
                                font-size: 14px;
                                color: rgb(128, 128, 137);
                            }
                        }
                    }
                }
                .container__money {
                    margin-top: 12px;
                    padding: 16px;
                    background-color: #fff;
                    color: #747272;
                    font-weight: 300;
                    position: sticky;
                    top: 80px;
                    &-anti {
                        padding: 16px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &-value {
                            color: #000;
                            font-weight: 500;
                        }
                    }
                    &-discount {
                        padding: 16px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &-value {
                            color: rgb(0, 171, 86);
                            font-weight: 500;
                        }
                    }
                    &-delivery {
                        padding: 16px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &-value {
                            color: rgb(0, 171, 86);
                            font-weight: 500;
                        }
                    }
                    &-total {
                        padding: 16px 0;
                        display: flex;
                        align-items: center;
                        color: #000;
                        justify-content: space-between;
                        &-value {
                            color: #0a68ff;
                            font-size: 26px;
                            font-weight: 50;
                            .unit {
                                font-size: 16px;
                                margin-left: 4px;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .container__btn-buy {
                    button {
                        width: 100%;
                        margin-top: 16px;
                        padding: 8px 16px;
                        color: #fff;
                        border: none;
                        font-size: 20px;
                        border-radius: 4px;
                        text-align: center;
                        background-color: #0a68ff;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
