.header__page {
    position: sticky;
    top: 0;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
    &-statistic {
        span {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
    }
    &-interact {
        &-item {
            padding: 16px 20px;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            color: #fff;
            &:hover {
                opacity: 0.8;
            }
            .icon-message {
                font-size: 24px;
                margin-right: 28px;
            }
            .icon-bell {
                font-size: 22px;
                margin: 0 28px;
            }
            span {
                top: 6px;
                right: 38px;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                width: 20px;
                height: 20px;
                position: absolute;
                border-radius: 50%;
                background-color: #7460ee;
            }
            .icon-setting {
                margin-left: 8px;
                font-size: 24px;
                margin-bottom: 8px;
            }
        }
    }
    .border-bottom-red {
        border-bottom: 1px solid #f2125e;
    }
}
